<?xml version="1.0"?>
<!--
  ~ Clive Walkden
  ~
  ~ NOTICE OF LICENSE
  ~
  ~ This source file is subject to the Open Software License (OSL 3.0)
  ~ that is bundled with this package in the file LICENSE.
  ~ It is also available through the world-wide-web at this URL:
  ~ http://opensource.org/licenses/osl-3.0.php
  ~
  ~ @category    Clive Walkden
  ~ @package     CliveWalkden_Usersnap
  ~ @copyright   Copyright (c) Clive Walkden (https://clivewalkden.co.uk)
  ~ @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="clivewalkden" translate="label" sortOrder="100001" class="clivewalkden-tab">
            <label>CW Extensions</label>
        </tab>
        <section id="clivewalkden_usersnap" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label><![CDATA[Usersnap]]></label>
            <tab>clivewalkden</tab>
            <resource>CliveWalkden_Usersnap::config_usersnap</resource>
            <group id="hint" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <frontend_model>CliveWalkden\Usersnap\Block\System\Config\Form\Fieldset\Hint</frontend_model>
            </group>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="enabled" type="select" translate="label" sortOrder="10" showInDefault="1" showInStore="1"
                       showInWebsite="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="global_api_key" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInStore="1" showInWebsite="1">
                    <label>Global API Key</label>
                    <comment>
                        <![CDATA[Enter the Global API Key from the Usersnap control panel.]]>
                    </comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>

                <field id="project_api_key" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInStore="1" showInWebsite="1">
                    <label>Project API Key</label>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>

                <field id="deactivate_googlefonts" translate="label" type="select" sortOrder="40" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Deactivate GoogleFonts?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                        <p>The Usersnap feedback widgets use GoogleFonts to make the widgets look nicer. If you don't want to use GoogleFonts, you can deactivate them by setting this option to <strong>Yes</strong>.</p>
                        ]]>
                    </comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="frontend" translate="label" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Frontend Configuration</label>
                <depends>
                    <field id="*/general/enabled">1</field>
                </depends>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Display on Frontend?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="capture_user_data" translate="label" type="select" sortOrder="11" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Capture User Data?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                        <p>The Usersnap feedback widget can track a users Magento username and role if they are logged in to the site. If you don't want this information to be passed to Usersnap set this option to <strong>No</strong></p>
                        ]]>
                    </comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>

                <field id="deactivate_tracking" translate="label" type="select" sortOrder="12" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Deactivate Tracking?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[<p>If you don't want Usersnap to track the IP and location (country, city) of the users, you can deactivate this by setting this option to <strong>Yes</strong>.</p>]]>
                    </comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>

                <field id="deactivate_localstorage" translate="label" type="select" sortOrder="14" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Deactivate localStorage?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                        <p>The Usersnap feedback widgets do not use cookies, but we use the localStorage to store a few parameters. From a data privacy standpoint (GDPR), the localStorage is seen similar to cookies.</p>
                        <p><strong>Please, be aware that this has a few disadvantages for your users. For example, the email is not remembered for the next time, they give feedback. Also, the assignees are not stored.</strong></p>
                        ]]>
                    </comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="backend" translate="label" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Backend Configuration</label>
                <depends>
                    <field id="*/general/enabled">1</field>
                </depends>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Display on Backend?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="capture_user_data" translate="label" type="select" sortOrder="11" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Capture User Data?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                        <p>The Usersnap feedback widget can track a users Magento username and role if they are logged in to the site. If you don't want this information to be passed to Usersnap set this option to <strong>No</strong></p>
                        ]]>
                    </comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>

                <field id="deactivate_tracking" translate="label" type="select" sortOrder="12" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Deactivate Tracking?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[<p>If you don't want Usersnap to track the IP and location (country, city) of the users, you can deactivate this by setting this option to <strong>Yes</strong>.</p>]]>
                    </comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>

                <field id="deactivate_localstorage" translate="label" type="select" sortOrder="14" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Deactivate localStorage?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                        <p>The Usersnap feedback widgets do not use cookies, but we use the localStorage to store a few parameters. From a data privacy standpoint (GDPR), the localStorage is seen similar to cookies.</p>
                        <p><strong>Please, be aware that this has a few disadvantages for your users. For example, the email is not remembered for the next time, they give feedback. Also, the assignees are not stored.</strong></p>
                        ]]>
                    </comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="ip_whitelist" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>IP Whitelist</label>
                <depends>
                    <field id="*/general/enabled">1</field>
                </depends>

                <field id="enabled" type="select" translate="label" sortOrder="10" showInDefault="1" showInStore="1"
                       showInWebsite="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="add_ip" translate="label comment" type="button" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow output for current IP</label>
                    <frontend_model>CliveWalkden\Usersnap\Block\System\Config\IpButton</frontend_model>
                    <comment>Current IP will be added to whitelist</comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>

                <field id="whitelist" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>IP Whitelist</label>
                    <comment>1 IP address per line</comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
